<div class="container">
  <table class= "table">
    <% @assmats.each do |assmat| %>
    <tr>
      <td><%= assmat.name %></td>
      <td><%= assmat.address %></td>
      <td><%= assmat.distance %></td>
    </tr>
    <% end %>
  </table>
</div>
